*
!.bash_logout
!.bash_profile
!.bashrc
!.fehbg
!.xinitrc
!.xserverrc
!.gitignore

!.config/
.config/*
!.config/cmus/
.config/cmus/*
!.config/cmus/rc
!.config/i3/
!.config/i3/*
!.config/mpd/
.config/mpd/*
!.config/mpd/mpd.conf
!.config/neofetch/
!.config/neofetch/*
!.config/polybar/
!.config/polybar/*
!.config/ranger/
!.config/ranger/*
.config/ranger/bookmarks
.config/ranger/history
.config/ranger/tagged
!.config/termite/
!.config/termite/*
!.config/chromium-flags.conf

!.ncmpcpp/
.ncmpcpp/*
!.ncmpcpp/config
